<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Learning</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <style>
      .box1 {
        background-color: blue;
        width: 150px;
        height: 150px;
        color: whitesmoke;
      }
    </style>
  </head>

  <body>
    <h1>Intro to HTMX</h1>

    <input
      type="text"
      name="input"
      id="input1"
      hx-get="https://html-mock.fly.dev/tag/paragraph"
      hx-target="#result"
    />

    <h2>Trigger by mouse enter</h2>
    <div
      class="box1"
      hx-get="https://html-mock.fly.dev/tag/paragraph"
      hx-target="#result"
      hx-trigger="mouseenter once"
    >
      ONCE
    </div>

    <h2>Trigger by mouseenter delay 1s</h2>
    <div
      class="box1"
      hx-get="https://html-mock.fly.dev/tag/paragraph"
      hx-target="#result"
      hx-trigger="mouseenter delay:1s"
    >
      DELAY 1s
    </div>

    <h2>Trigger by mouseenter delay 1s</h2>
    <div
      class="box1"
      hx-get="https://html-mock.fly.dev/tag/paragraph"
      hx-target="#result"
      hx-trigger="mouseenter throttle:3s"
    >
      THROTTLE 1s
    </div>

    <h2>Trigger by ctrl click</h2>
    <div
      class="box1"
      hx-get="https://html-mock.fly.dev/tag/paragraph"
      hx-target="#result"
      hx-trigger="click[ctrlKey]"
    >
      THROTTLE 1s
    </div>

    <div id="result"></div>
  </body>
</html>
