<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='css/style.css' />
    <title>HTMX | Todo List App</title>
  </head>
  <body class='bg-slate-800'>
    {{{body}}}

    <script
      src='https://unpkg.com/htmx.org@1.9.9'
      integrity='sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX'
      crossorigin='anonymous'
    ></script>
  </body>
</html>